.bgimg {

    background-image: url(/images/Mask-img.png);

    background-size: cover;

}

body {

    box-sizing: border-box;

}

.myimage {

    width: 100% !important;



    background-size: cover;

}

.main{
    background-image: url('/assets/icon bg.png');
    height: 100vh;
    background-size: cover;
}